<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <style>
    .basic {
      width : 100px;
      height : 100px;
      background : #666666;
      color : white;
      margin-top : 10px;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div id="selected">
    <input-check :data="video">
      <template #inputwrap="{item, item : {name}, id}">
        <div>
          <input type="checkbox" :id="name" v-model="selected" :value="name">
          <label :for="name">{{name}}</label>
        </div>
      </template>
    </input-check>
    <div v-if="videoLimit2.length !== 0">
      <options :data="videoLimit2">
        <template #optionwrap="{index, video}">
          <div>
            {{video}}
            <br>
            초<input type="number" v-model="optionWrap['option'+index].sec">
            <br>
            FPS<input type="number" v-model="optionWrap['option'+index].fps">
          </div>
        </template>
      </options>
      <button @click="save">gif변환하기</button>
    </div>
  </div>
  <script src="./checkbox.js"></script>
</body>
</html>