<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
  <style>
    .tomato {
      color : tomato;
    }
  </style>
  <title>Document</title>
</head>
<body>
  <div id="component1">
    <my-component></my-component>
  </div>
  <div id="component2">
    <my-component></my-component>
  </div>
  <ul id="component3">
    <li is="my-component"></li>
  </ul>
  <div id="component4">
    <my-component></my-component>
  </div>
  <div id="component5">
    <my-component></my-component>
    <my-component></my-component>
    <my-component></my-component>
  </div>
  <div id="props1">
    <props 
    :message="message"
    :obj="obj"
    ></props>
  </div>
  <div id="props2">
    <props 
    :num="num"
    ></props>
  </div>
  <div id="props3">
    <props 
      :propa="propA"
      :propb="propB"
      :propc="propC"
      :propd="propD"
      :prope="propE"
      :propf="propF"
    ></props>
  </div>
  <div id="customEvent">
    <p>{{total}}</p>
    <button-counter
      @increment="incrementTotal"
      @click.native="nativeEvent"
      :num="total"
    ></button-counter>
    <button-counter
      @increment="incrementTotal"
      @click.native="nativeEvent"
      :num="total"
    ></button-counter>
  </div>
  <div id="sync">
    {{text}}
    <child
      :text.sync="text"
    ></child>
  </div>
  <div id="v-model1">
    <custom-input
      v-model="text"
    ></custom-input>
    {{text}}
  </div>
  <div id="v-model2">
    <checkbox
      v-model="boolean"
    >
    </checkbox>
    {{boolcheck}}
  </div>
  <div id="exportmethod">
    <button @click="exportMethod">이벤트 내보내기</button>
  </div>
  <div id="importmethod">
  </div>
  <div id="slot1">
    <h1>부모 컴포넌트 제목</h1>
    <my-component>
      <p v-if="isShow">원본 컨텐츠</p>
      <p v-if="isShow">원본 중 추가 컨텐츠</p>
    </my-component>
  </div>
  <div id="slot2">
    <my-component>
      <template #title>
        <h1>여기에 페이지 제목 위치</h1>
      </template>
      <template #main>
        <p>메인 컨텐츠</p>
        <p>메인 컨텐츠</p>
        <p>메인 컨텐츠</p>
      </template>
    </my-component>
  </div>
  <div id="slot3">
    <my-list
      :items="arr"
    >
      <template #item="{item : {id, text}}">
        <li>{{id}}, {{text}}</li>
      </template>
    </my-list>
  </div>
  <div id="activeComponent">
    <component :is="currentComp"></component>
  </div>
  <script src="../js/Vue_component.js"></script>
</body>
</html>